<% provide(:title, "All Tasks") %>
<% provide(:navbar_page_title, "all my projects") %>

<h2 class="text-white">Total Hours: <%= @tasks.sum(:task_hours) %> hs</h2>


<%= render partial: "all_tasks", locals: { tasks: @tasks, allow_change: true} %>

<%= button_to 'Add new task', new_task_path, method: :get, 
class: 'btn mt-2 btn-lg btn-primary btn-block' %>

<%= button_to 'back', current_user, method: :get, 
class: 'btn mt-2 btn-lg btn-primary btn-block' %>
	
<br>
