<% provide(:title, @task.task_name)"%>
<% provide(:navbar_page_title, "edit project") %>

<div class="row">

<h1> <%= @task.task_name %> </h1>

<br>
<%= button_to 'edit', edit_project_path(@project), method: :get,
class: 'btn btn-primary' %>

<%= button_to 'delete', @project, method: :delete,
class: 'btn btn-primary', data: { confirm: 'are you sure?' } %>

<%= button_to 'back', request.referrer, method: :get,
class: 'btn btn-secondary' %>
</div>