<div class="row">
  <div class="col-12">
    <h3 class='text-center mb-5'>Hello,
      <%= @user.username %><br>
      <div class="list-group mt-3">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
          Welcome
        </a>
        <a href="#" class="list-group-item list-group-item-action">All my tasks</a>
        <a href="#" class="list-group-item list-group-item-action">All other tasks</a>
        <a href="#" class="list-group-item list-group-item-action">All projects</a>
      </div>
    </h3>
  </div>
</div>