@font-face {
    font-family: "ProximaNova-Regular";
    src: url("//db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.eot");
    src: url("//db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.woff") format("woff"), url("//db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.svg#ProximaNova-Regular") format("svg");
}

@font-face {
    font-family: "ProximaNova-Bold";
    src: url("//db.onlinewebfonts.com/t/f697c472b2ad5a1ca383a63c349f3dd9.eot");
    src: url("//db.onlinewebfonts.com/t/f697c472b2ad5a1ca383a63c349f3dd9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f697c472b2ad5a1ca383a63c349f3dd9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f697c472b2ad5a1ca383a63c349f3dd9.woff") format("woff"), url("//db.onlinewebfonts.com/t/f697c472b2ad5a1ca383a63c349f3dd9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f697c472b2ad5a1ca383a63c349f3dd9.svg#ProximaNova-Bold") format("svg");
}

html {
    height: 100%;
}

body {
    max-width: 500px;
    margin: auto;
    font-family: 'ProximaNova-Regular', Helvetica, Arial, sans-serif;
    height: 100%;
}

h1 {
    font-family: 'ProximaNova-Bold', Helvetica, Arial, sans-serif;
}

h2 {
    font-family: 'ProximaNova-Bold', Helvetica, Arial, sans-serif;
}

h3 {
    font-family: 'ProximaNova-Regular', Helvetica, Arial, sans-serif;
}

.btn-primary {
    background-color: #3778c2;
    border-color: #3778c2;
}

.btn-primary:hover {
    background-color: #5fb523;
    border-color: #5fb523;
}

.gradient-background {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(22, 54, 97, 1) 35%, rgba(52, 130, 187, 1) 100%);
    background-repeat: no-repeat;
    max-height: 100%;
}

hr.solid {
    border-top: 1px solid #bbb;
    padding-right: 2rem;
}