<nav class="navbar navbar-expand-md mb-2 text-white">
  <div class="container-fluid">
    <div class="navbar-header">
      <i class="material-icons">menu</i>
    </div>
    <% if logged_in? %>
      <ul class="nav navbar-right ">
        <li><%= link_to "Log out", logout_path, class: "mx-2 navbar-text nav-link text-decoration-none nav-item",
                        method: :delete %></li>
      </ul>
    <% else %>
      <ul class="nav navbar-right ">
        <li><%= link_to "Sign up", signup_path, class: "mx-2 nav-item navbar-text nav-link text-decoration-none" %></li>
      </ul>
    <% end %>
  </div>
</nav>